<div class="row">
    <div class="col-md-6">
        <!-- <div><label for="profile">Profile:</label></div> -->
        <div><h3 class="list-group-item">Profile:</h3></div>
        
        <img src="{{user.avatar_url}}" alt="" width="300">
        <div></div>
    </div>
    <div class="col-md-6">
        <p class="list-group-item">UserName:{{user.login}}</p>
        <p class="list-group-item">Name:{{user.name}}</p>
        <!-- <p>Profile:{{user.avatar_url}}</p> -->
        <p class="list-group-item">Repositories:{{user.public_repos}}</p>
        <p class="list-group-item">Created at:{{user.created_at|date}}</p>
        <p class="list-group-item">
            <a href="{{user.html_url}}" target="_blank" class="list-group-item list-group-item active">View
         profile</a></p>
    </div>
</div>